@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button{
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-md px-3 py-2 focus:border-green-500 focus:ring-1 focus:ring-green-500 duration-300;
  }
  textarea {
    @apply outline-none border border-gray-300 rounded-md px-3 py-2 focus:border-green-500 focus:ring-1 focus:ring-green-500 duration-300 resize-none;
  }
}